.content {
    color: black;
    height: 100%;
}

.content--dark {
    color: white;
}

.content__inner {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 837px) {
    .content {
        &__inner {
            flex-direction: column;
        }
    }
}
