.login {
    width: 100%;
    margin-top: 60px;
    transition: 0.4s;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        width: 100%;
    
        .login__section {
            margin-bottom: 36px;
            display: flex;
            justify-content: space-between;

            span {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            .login__select {
                border: 1px solid rgba(0, 0, 0, 0.2);
                padding: 0 10px;
                border-radius: 6px;
                transition: 0.4s;
            }

            .login__switch {
                position: relative;
                display: inline-block;
                width: 72px;
                height: 41px;

                .login__check {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: gray;
                    transition: 0.4s;
                    border-radius: 34px;

                    &::before {
                        position: absolute;
                        content: '';
                        height: 32px;
                        width: 32px;
                        left: 5px;
                        bottom: 5px;
                        background-color: white;
                        border-radius: 50%;
                        transition: 0.4s;
                    }
                }

                .login__checkbox:checked + .login__check {
                    background-color: var(--comcolor);
                }

                .login__checkbox:focus + .login__check {
                    box-shadow: 0 0 1px var(--comcolor);
                }

                .login__checkbox:checked + .login__check::before {
                    transform: translateX(30px);
                }
            }
        }
    
        .login__heading {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 900;
            font-size: 42px;
            line-height: 49px;
            margin-bottom: 36px;
        }

        .login__input {
            margin-bottom: 25px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 6px;
            padding: 23px 20px;
            transition: 0.4s;
        }

        .login__button {
            text-align: center;
            padding: 18px 0;
            background-color: var(--comcolor);
            border-radius: 76px;
            border: none;
            font-weight: 700;
            color: white;
            cursor: pointer;
            margin-bottom: 40px;
            transition: 0.4s;

            &:hover {
                background-color: rgb(88, 173, 252);
                transition: 0.4s;
            }
        }

        .login__error {
            color: red;
        }

        .login__links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .login__link {
                text-decoration: none;
                color: var(--comcolor);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.login--dark {
    color: white;
    transition: 0.4s;

    .login__form {
        .login__input {
            background-color: black;
            color: white;
            border: 1px solid rgba(255, 255, 255, 0.2);
            transition: 0.4s;
        }

        .login__section {
            .login__select {
                background-color: black;
                border: 1px solid rgba(255, 255, 255, 0.2);
                color: white;
                transition: 0.4s;
            }
        }
    }
}